<div class="modal-import" jhiModalDrag [handle]="handle">
  <div class="modal-header" #handle>
    <h5 class="modal-title mt-0">{{title}}</h5>
    <button #closeBtn type="button" class="close" aria-label="Close" (click)="onCancel()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <perfect-scrollbar class="ps" [style.max-height.px]="height" (window:resize)="onResize()">

    <div class="modal-body">


      <form [formGroup]="form" *ngIf="form" novalidate autocomplete="off">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group" [ngClass]="displayFieldHasError('idEquipmentGroup')">
              <label class="form-control-label required"
              >Mã loại thiết bị thiết bị</label>
              <ng-select class="cursor-text scroll-ng-select"
                         bindLabel="code" formControlName="idEquipmentGroup" bindValue="id"
                         notFoundText="{{ 'common.select.notFoundText' | translate }}"
                         placeholder="{{ 'common.select.option.default' | translate }}"
                         clearAllText="{{ 'common.tooltip.action.clearNgSelect' | translate }}"
                         [items]="listGroup"
                         [multiple]="false"
                         [readonly]="type === 'detail'||type==='update'" (change)="xetUnit()">
              </ng-select>
            </div>
          </div>
          <div class="col-md-6" *ngIf="type!=='add'">
            <div class="form-group" [ngClass]="displayFieldHasError('code')">
              <label class="form-control-label required">Mã code</label>
              <input type="text" formControlName="code" class="form-control"
                     [ngClass]="type === 'add' || type === 'update' ? 'form-control' : ''"
                     [readOnly]="type === 'detail'||type==='update'" maxlength="255"
                     (blur)="onBlurUserCode()"/>
              <jhi-error-messages *ngIf="formControl['code'].hasError('required')" [displayError]="isFieldValid('code')"
                                  errorMsg="{{ 'user.validate.code.required' | translate }}">
              </jhi-error-messages>
              <jhi-error-messages *ngIf="formControl['code'].hasError('maxlength')"
                                  [displayError]="isFieldValid('code')"
                                  errorMsg="{{ 'user.validate.code.maxlength' | translate }}">
              </jhi-error-messages>
              <jhi-error-messages *ngIf="isDuplicateCode" [displayError]="isDuplicateCode"
                                  errorMsg="Mã thiết bị đã có">
              </jhi-error-messages>
              <jhi-error-messages *ngIf="formControl['code'].hasError('pattern')" [displayError]="isFieldValid('code')"
                                  errorMsg="{{ 'user.validate.code.invalid' | translate }}">
              </jhi-error-messages>
            </div>
          </div>
          <div class="col-md-4" *ngIf="form.controls['check'].value&&type==='add'">
            <div class="form-group" [ngClass]="displayFieldHasError('code')">
              <label class="form-control-label required">Mã code</label>
              <input type="text" formControlName="code" class="form-control"
                     [ngClass]="type === 'add' || type === 'update' ? 'form-control' : ''"
                     [readOnly]="type === 'detail'||type==='update'" maxlength="255"
                     (blur)="onBlurUserCode()"/>
              <jhi-error-messages *ngIf="formControl['code'].hasError('required')" [displayError]="isFieldValid('code')"
                                  errorMsg="{{ 'user.validate.code.required' | translate }}">
              </jhi-error-messages>
              <jhi-error-messages *ngIf="formControl['code'].hasError('maxlength')"
                                  [displayError]="isFieldValid('code')"
                                  errorMsg="{{ 'user.validate.code.maxlength' | translate }}">
              </jhi-error-messages>
              <jhi-error-messages *ngIf="isDuplicateCode" [displayError]="isDuplicateCode"
                                  errorMsg="{{ 'user.validate.code.duplicate' | translate }}">
              </jhi-error-messages>
              <jhi-error-messages *ngIf="formControl['code'].hasError('pattern')" [displayError]="isFieldValid('code')"
                                  errorMsg="{{ 'user.validate.code.invalid' | translate }}">
              </jhi-error-messages>
            </div>
          </div>
          <div class="col-md-4" *ngIf="!form.controls['check'].value&&type==='add'">
            <div class="form-group" [ngClass]="displayFieldHasError('size')">
              <label class="form-control-label required">Số lượng</label>
              <input type="number" formControlName="size" class="form-control"
                     [ngClass]="type === 'add' || type === 'update' ? 'form-control' : ''"
                     [readOnly]="type === 'detail'||type==='update'" maxlength="255"
              />
              <jhi-error-messages *ngIf="formControl['code'].hasError('required')" [displayError]="isFieldValid('code')"
                                  errorMsg="{{ 'user.validate.code.required' | translate }}">
              </jhi-error-messages>

            </div>
          </div>
          <div class="col-md-2" style="margin: auto;" *ngIf="type==='add'">
            <div class="form-group">
            </div>
            <div><span class="col-md-10">Thêm lẻ</span>
              <span class="col-md-2">
                <input type="checkbox" formControlName="check"/>
              </span>
            </div>

          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group" [ngClass]="displayFieldHasError('status')">
              <label class="form-control-label required">Tình Trạng thiết bị</label>
              <ng-select class="cursor-text scroll-ng-select"
                         bindLabel="name" formControlName="status" bindValue="id"
                         notFoundText="{{ 'common.select.notFoundText' | translate }}"
                         placeholder="{{ 'common.select.option.default' | translate }}"
                         clearAllText="{{ 'common.tooltip.action.clearNgSelect' | translate }}"
                         [items]="listStatus"
                         [multiple]="false"
                         [readonly]="type === 'detail'" (blur)="checkVitri()">
              </ng-select>
              <!--            <jhi-error-messages *ngIf="formControl['partId'].hasError('required')"-->
              <!--                                [displayError]="isFieldValid('partId')"-->
              <!--                                errorMsg="{{ 'user.validate.part.required' | translate }}">-->
              <!--            </jhi-error-messages>-->
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group" [ngClass]="displayFieldHasError('partId')">
              <label class="form-control-label required">Bộ phận quản lý thiết bị</label>
              <ng-select class="cursor-text scroll-ng-select"
                         bindLabel="name" formControlName="partId" bindValue="id"
                         notFoundText="{{ 'common.select.notFoundText' | translate }}"
                         placeholder="{{ 'common.select.option.default' | translate }}"
                         clearAllText="{{ 'common.tooltip.action.clearNgSelect' | translate }}"
                         [items]="partList"
                         [multiple]="false"
                         [readonly]="type === 'detail'||checkBoll" (change)="xetDataWare()">
              </ng-select>
              <!--            <jhi-error-messages *ngIf="formControl['partId'].hasError('required')"-->
              <!--                                [displayError]="isFieldValid('partId')"-->
              <!--                                errorMsg="{{ 'user.validate.part.required' | translate }}">-->
              <!--            </jhi-error-messages>-->
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-md-6" *ngIf="form.controls['status'].value===2">
            <div class="form-group" [ngClass]="displayFieldHasError('localion')">
              <label class="form-control-label ">Vị trí sử dụng</label>
              <input type="text" formControlName="localion" class="form-control"
                     [ngClass]="type === 'add' || type === 'update' ? 'form-control' : ''"
                     [readOnly]="type === 'detail'" maxlength="255"/>
            </div>
          </div>
          <div class="col-md-6" *ngIf="form.controls['status'].value===1">
            <div class="form-group" [ngClass]="displayFieldHasError('warehouseId')">
              <label class="form-control-label ">Vị trí kho chứa</label>
              <ng-select class="cursor-text scroll-ng-select"
                         bindLabel="name" formControlName="warehouseId" bindValue="id"
                         notFoundText="{{ 'common.select.notFoundText' | translate }}"
                         placeholder="{{ 'common.select.option.default' | translate }}"
                         clearAllText="{{ 'common.tooltip.action.clearNgSelect' | translate }}"
                         [items]="wareHouseList"
                         [multiple]="false"
                         [readonly]="type === 'detail'">
              </ng-select>
            </div>
          </div>
          <div class="col-md-6" *ngIf="form.controls['status'].value===2">
            <div class="form-group" [ngClass]="displayFieldHasError('useHummerId')">
              <label class="form-control-label ">Người sử dụng thiết bị</label>
              <ng-select class="cursor-text scroll-ng-select"
                         bindLabel="name" formControlName="useHummerId" bindValue="id"
                         notFoundText="{{ 'common.select.notFoundText' | translate }}"
                         placeholder="{{ 'common.select.option.default' | translate }}"
                         clearAllText="{{ 'common.tooltip.action.clearNgSelect' | translate }}"
                         [items]="listhummer"
                         [multiple]="false"
                         [readonly]="type === 'detail'">
              </ng-select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group" [ngClass]="displayFieldHasError('supplierId')">
              <label class="form-control-label ">Nhà cung cấp</label>
              <ng-select class="cursor-text scroll-ng-select"
                         bindLabel="name" formControlName="supplierId" bindValue="id"
                         notFoundText="{{ 'common.select.notFoundText' | translate }}"
                         placeholder="{{ 'common.select.option.default' | translate }}"
                         clearAllText="{{ 'common.tooltip.action.clearNgSelect' | translate }}"
                         [items]="listSupplier"
                         [multiple]="false"
                         [readonly]="type === 'detail'||type === 'update'">
              </ng-select>
            </div>
          </div>
          <div class="col-md-6" *ngIf="type === 'update'">
            <div class="form-group" [ngClass]="displayFieldHasError('lostDevice')">
              <label class="form-control-label required">Độ hao mòn</label>
              <input type="number" formControlName="lostDevice" class="form-control"
                     [ngClass]="type === 'add' || type === 'update' ? 'form-control' : ''"
                     [readOnly]="type === 'detail'" maxlength="255"
              />
            </div>
          </div>
        </div>
        <div class="row">
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group" [ngClass]="displayFieldHasError('unit')">
              <label class="form-control-label">Đơn vị</label>
              <ng-select class="cursor-text scroll-ng-select"
                         bindLabel="name" formControlName="unit" bindValue="id"
                         notFoundText="{{ 'common.select.notFoundText' | translate }}"
                         clearAllText="{{ 'common.tooltip.action.clearNgSelect' | translate }}"
                         placeholder="{{ 'common.select.option.default' | translate }}"
                         [items]="unitList"
                         [clearable]="false"
                         [multiple]="false"
                         [readonly]="type === 'detail'||type==='update'||type==='add'">
              </ng-select>
            </div>
          </div>

          <div class="col-md-6" *ngIf="form.controls['unit'].value===1">
            <div class="form-group" [ngClass]="displayFieldHasError('sizeUnit')">
              <label class="form-control-label ">Số lượng theo lô</label>
              <input type="text" formControlName="sizeUnit" class="form-control"
                     [ngClass]="type === 'add' || type === 'update' ? 'form-control' : ''"
                     [readOnly]="type === 'detail'||type==='update'||type==='add'" maxlength="255"/>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="form-group" [ngClass]="displayFieldHasError('specifications')">
            <label class="form-control-label">Thông số kĩ thuật</label>
            <textarea rows="3" cols="400" formControlName="specifications" class="form-control"
                      type="text" [readonly]="type === 'detail'" (blur)="trimSpace('specifications')"
                      style="overflow: scroll"></textarea>
            <jhi-error-messages *ngIf="formControl['specifications'].hasError('maxlength')"
                                [displayError]="isFieldValid('specifications')"
                                errorMsg="{{ 'user.validate.note.maxlength' | translate }}">
            </jhi-error-messages>
          </div>
        </div>
        <div class="row">
          <div class="form-group" [ngClass]="displayFieldHasError('note')">
            <label class="form-control-label" jhiTranslate="user.note">Ghi chú</label>
            <textarea rows="4" cols="400" formControlName="note" class="form-control"
                      type="text" [readonly]="type === 'detail'" (blur)="trimSpace('note')"
                      style="overflow: scroll"></textarea>
            <jhi-error-messages *ngIf="formControl['note'].hasError('maxlength')" [displayError]="isFieldValid('note')"
                                errorMsg="{{ 'user.validate.note.maxlength' | translate }}">
            </jhi-error-messages>
          </div>
        </div>
      </form>
    </div>
    <div>
      <div style="text-align:center">
        <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-3">
        <ngb-carousel *ngIf="listImgGroup">
          <div *ngFor="let user of listImgGroup; index as i; first as isFirst">
            <ng-template  ngbSlide>
              <div class="picsum-img-wrapper">
                <img [src]="user" style="height: 200px;width: 200px;" (click)="showImg(i)">
              </div>
              </ng-template>
            </div>
             </ngb-carousel>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-3">
        <ngb-carousel *ngIf="listurl">
          <div *ngFor="let user of listurl; index as i; first as isFirst">
            <ng-template  ngbSlide>
              <div class="picsum-img-wrapper">
                <img [src]="user.data" style="height: 200px;width: 200px;" (click)="deleteImg(i)">
               </div>
               </ng-template>
          
            <!-- <button *ngIf="type==='update'||type==='add'" (click)="cleanAnh(i)">Xóa ảnh</button> -->
          </div>
         </ngb-carousel>
      </div>
      <div class="col-md-2"></div>

        <!-- <div *ngFor="let user of listImgGroup; index as i; first as isFirst">
          <img [src]="user" style="height: 200px;width: 200px;">

        </div> -->
        <!-- <div *ngFor="let user of listurl; index as i; first as isFirst">
          <!-- <div>
            <img [src]="user.data" *ngIf="url" style="height: 200px;width: 200px;">
            <button *ngIf="type==='update'||type==='add'" (click)="cleanAnh(i)">Xóa ảnh</button>
          </div> -->

        <!-- </div> -->
      </div>
        <div *ngIf="type==='update'||(type==='add'&&form.controls['check'].value)">
          <input type="file" multiple (change)="selectFile($event)">
        </div>
      </div>
    </div>
    <div class="action-btn">
      <button #cancelBtn type="button" class="btn btn-light alight" (click)="onCancel()">
        <i class="fa fa-times mr-2" aria-hidden="true"></i><span
        jhiTranslate="{{(type !== 'detail'? 'common.button.confirm.cancel' : 'common.button.close')}}">Hủy bỏ</span>
      </button>
      <button *ngIf="type !== 'detail'" type="submit" class="btn btn-primary" (click)="onSubmitData()">
        <i class="fa fa-floppy-o mr-2" aria-hidden="true"></i><span jhiTranslate="common.button.confirm.save">Ghi
        lại</span>
      </button>
    </div>
  </perfect-scrollbar>
</div>




